body{
    margin: 0 auto;
    background-image: url(a.jpg);
 background-size: 100% ;
 background-repeat: no-repeat;
 }
 
 .container{
     width: 500px;
     height: 530px;
     text-align: center;
     margin: 0 auto;
     background-color: rgba(44, 62, 80, 0.7);
     margin-top: 90px ;
 
 }
 
 .container img{
     width: 180px;
     height: 150px;
     margin-top: -60px;
 }
 
 input[type="text"],input[type="password"],input[type="email"]{
     margin-top: 30px;
     height: 45px;
     width: 300px;
     font-size: 18px;
     margin-bottom: 20px;
     background-color: #fff;
     padding-left: 40px;
     border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    color: white;
 }
 
 
 
 .btn-login{
     padding: 15px 25px;
     border: none;
     background-color: #27ae60;
     color: white;
     border-radius: 20px;
 }

 .btn-login:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

 .ff{
     color: white;
     font-size: 20px;
 }
 
 
 .ff1{
     color: #82ccdd;
     font-size: 17px;
 }
 
 
 
 
 

 
 
 
 
 
 